* {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  background-color: gray;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.menus {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 17px;
  font-style: italic;
}

/* banner */

.banner-container {
  height: 100vh;
  background-image: url(./asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 55px;
  font-weight: bold;
  color: white;
}

.primary {
  color: red;
}
.description {
  color: white;
  padding: 10px;
  width: 50%;
  margin: auto;
}

.btn {
  padding: 12px 20px;
  border: none;
}

.bg-primary {
  background-color: red;
  color: white;
}

/* service container */

.service-container {
  height: 100vh;
  background-image: url(./asset/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.service-des {
  width: 50%;
}

.icon {
  width: 70px;
  margin-bottom: 20px;
}

.box {
  text-align: center;
  padding: 50px;
  background-color: white;
  width: 150px;
  height: 100px;
  color: black;
  border-radius: 5px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border-right: 2px solid red;
  padding-right: 15px;
}

.phone-call {
  display: flex;
  align-items: center;
  gap: 10px;
}

.appointment-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
  margin-top: -30px;
  align-items: center;
  gap: 20px;
}

/* task add image in phone call */

.blog-title {
  color: black;
  text-align: center;
  margin: 50px;
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.card {
  width: 220px;
  height: 350px;
  box-shadow: 4px 5px 4px gray;
  border-radius: 5px;
}
.blog-img {
  width: 100%;
  border-radius: 5px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-container {
  width: 80%;
  margin: auto;
  background-color: gray;
  padding: 10px;
}
